
@media only screen and (max-width:1136px){
    .about-me-text{
        width:100%;
    }
}
@media only screen and (max-width:987px){
    // About me section
    .about-me-text{
        // About me text width
        .text-container{
            width:82%;
        }
        // Image width
        .js-scroll.scrolled.image-container{
            width:45%;
            margin-left:0;
        }
    }
    // chnage margin on soft skills list
    .js-scroll.soft-skills{
        width:45%;
        margin-right:0;
    }

    .my-works{
        width:100%;
    }
    // Chnage width on portfolio list items
    .js-scroll.project-one, .js-scroll.project-three, .js-scroll.project-two, .js-scroll.project-four{
        width:45%;
    }

    // Change padding inside project works
    .project-details{
        padding:0 10px;
    }

    .contact-info{
        // Set new width for contact text and form 
        .contact-text, form{
            width:60%;
        }
    }

}

@media only screen and (max-width:820px){
    .about-me-text{
        flex-direction:column;
        .js-scroll.image-container{
            margin-right:0;
            margin-left:0;
        }
    
    }
   
}
@media only screen and (max-width:767px){
    header{
    .headings-container{
        h1{
            font-size:3.5rem;
        }
    }
}
    .about-me-text{
     
        .text-container{
            width:100%;
        }
    }
  
  
    // Change contact information and form width
    .contact-info{
        // Set new width for contact text and form 
        .contact-text, form{
            width:75%;
        }
    }

    nav{
        .slide-out-menu{
            flex-direction:column;
        }
    }
}

@media only screen and (max-width:661px){

    // Chnage flex direction ot column for pohoto and soft skills
    .wrapper{
        width:90%;
    }
  
    .about-me-text{
        // About me text width
        .text-container{
            width:100%;
        }
        // Image width
        .js-scroll.scrolled.image-container{
            width:70%;
         
        }
    }
   
    // Chnage portfolio items direction and width
    .my-works{
        flex-direction:column;
        // justify-content: center;
        align-items:center;
    }
    .js-scroll.project-one, .js-scroll.project-three, .js-scroll.project-two, .js-scroll.project-four{
        width:75%;   
     
    }
  
     // Change contact information and form width
     .contact-info{
        // Set new width for contact text and form 
        .contact-text, form{
            width:100%;
            flex-direction:column;
        }

        form{
            margin-top:20px;
           input[type="text"],input[type="email"]{
                width:100%;
                margin:30px 0 30px 0;
            }
        }
      
    }

    .all-contact{
        flex-direction: column;
        width:100%;
    }

    .social-contact{
        flex-direction:row;
      justify-content:space-around;
        span{
            font-size:4rem;
        }
    }

    header{
        .headings-container{
            h1{
                font-size:2.5rem;
                margin-bottom: 50px;
            }
            h2{
                font-size:1.5rem;
    
            }
        }
    }

}

@media only screen and (max-width:460px){

    header{
        .headings-container{
            h1{
                font-size:1.8rem;
                margin-bottom: 50px;
            }
            h2{
                font-size:1.2rem;
    
            }
        }
    }

    .about-me-text{
    
        // Image width
        .js-scroll.scrolled.image-container{
            width:85%;
         
        }
    }

}
