html{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size:4rem;
}

h2{
    font-size:2rem;
    margin-top:0;
    font-weight:bold;
}

h3{
    font-size:1.8rem;
}

h1,h2,h3,h4{
    font-family: 'Archivo', sans-serif;
}

header h2{
    font-family: 'Open Sans';
}



p{
    font-size:1.3rem;
    font-weight:300;
    font-family: 'Open Sans', sans-serif;
}

a, button{
    font-weight:300;
    font-family: 'Open Sans', sans-serif;
}

