html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  font-size: 0.8rem;
}

.skip-link:focus {
  left: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 125%;
  color: #28282B;
}

img {
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.3rem;
  margin-top: 0;
  font-weight: bold;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

a, button {
  font-weight: 300;
}

header {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #28282B, #28282B, whitesmoke);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
}
header .header-contents-container {
  display: flex;
  flex-direction: column;
}
header .line1, header .line2 {
  width: 50vw;
  height: 100vh;
  z-index: 100;
  background-color: #28282B;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}
header .line1 p, header .line2 p {
  font-size: 5rem;
  color: white;
  font-family: "Source Code Pro", monospace;
}
header .line1 {
  left: 0;
  -webkit-animation-name: slideOutLeft;
          animation-name: slideOutLeft;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  justify-content: flex-end;
  align-items: center;
}
header .line1 p {
  text-align: right;
  border-radius: 25%;
}
header .line2 {
  right: 0;
  -webkit-animation-name: slideOutRight;
          animation-name: slideOutRight;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  justify-content: flex-start;
  align-items: center;
}
header .headings-container {
  align-self: center;
  text-align: center;
  margin-top: 15%;
}
header h1 {
  color: white;
}
header h2 {
  color: rgb(20, 98, 129);
  margin-top: -50px;
  position: relative;
  left: -999px;
  font-style: italic;
  transition: 0.6s ease-in;
  font-weight: bold;
}
header .jump-to-work {
  display: inline-block;
  width: 194px;
  background-color: transparent;
  border: 2px white solid;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  transition: 0.3s 1 ease-in;
  text-align: center;
}
header .jump-to-work:hover, header .jump-to-work:focus {
  width: 198px;
  box-shadow: 0px 10px 20px -9px black;
  background-color: rgb(95, 5, 5);
}
header .jump-to-work span {
  display: inline-block;
  margin-left: 4px;
}
header .jump-to-work:hover span, header .jump-to-work:focus span {
  transform: rotate(90deg);
}

nav {
  padding-top: 20px;
}
nav .main-menu-display {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin: 0;
  transition: 0.1s ease-out;
}
nav .main-menu-display a {
  color: white;
  padding: 0 18px;
  transition: 0.3s ease;
  font-size: 1rem;
}
nav .main-menu-display a:hover, nav .main-menu-display a:focus {
  font-size: 1.3rem;
}
nav .slide-out-menu {
  position: absolute;
  right: 0;
  top: -50px;
  top: 600px;
  width: 100vw;
  height: 0;
  transition: 0.4s ease-in;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #28282B;
  overflow: hidden;
  padding: 15px 0;
  z-index: 1;
  align-items: center;
  text-align: center;
  right: 9999px;
}
nav .slide-out-menu a {
  color: white;
  background-color: initial;
  transition: 0.3s ease;
  font-size: 3rem;
}
nav .slide-out-menu a:hover, nav .slide-out-menu a:focus {
  font-size: 3.2rem;
}
nav .slide-out-menu li::after {
  display: block;
  border-bottom: 2px solid rgb(20, 98, 129);
  width: 45vw;
  content: "";
  margin: 0 auto;
  top: 20px;
  position: relative;
}
nav .burger-menu-button {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: absolute;
  right: 66px;
  top: 20px;
  color: white;
  z-index: 10;
  transition: 0.4s ease;
  transform: rotate(90deg);
}
nav .burger-menu-button div {
  background-color: white;
  width: 25px;
  height: 3px;
  transition: 0.3s ease-in;
}
nav .burger-menu-button:hover.burger-menu-button, nav .burger-menu-button:focus.burger-menu-button {
  height: 25px;
}

@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInFromTop {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.about-me {
  padding: 75px 0;
  background-color: #ebebeb;
}
.about-me .about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me .about-heading {
  text-align: center;
  position: relative;
}
.about-me .about-heading:after {
  content: "";
  border-bottom: 3px solid rgb(95, 5, 5);
  width: 40%;
  display: inline-block;
  position: absolute;
  left: 59px;
  bottom: -5px;
}
.about-me .skills-image-text-container {
  display: flex;
}
.about-me .about-me-text {
  display: flex;
}

.js-scroll.soft-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 12%;
  left: 999px;
  position: relative;
  transition: 0.8s ease-in;
}

.js-scroll.scrolled.soft-skills {
  left: 0;
}

.soft-skills li {
  display: flex;
}
.soft-skills li p {
  margin: 12px 0 0 12px;
}
.soft-skills li span {
  display: inline-block;
  font-size: 2rem;
}
.soft-skills li .fa-solid.fa-lightbulb {
  color: rgb(192, 192, 19);
}
.soft-skills li .fa-solid.fa-people-group {
  color: rgb(88, 9, 88);
}
.soft-skills li .fa-solid.fa-arrow-up-right-dots {
  color: rgb(52, 182, 52);
}

.soft-photo {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
}

.em {
  color: rgb(95, 5, 5);
  font-weight: bold;
  font-size: 1rem;
}

.tropea {
  font-style: italic;
  font-size: 0.8rem;
  display: inline;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: 1s ease-in;
  background-color: whitesmoke;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 16px 15px -6px #28282B;
  width: 75%;
}
.about-me-text .js-scroll.image-container {
  width: 0%;
  position: relative;
  margin-right: 11%;
  transition: ease-in 1s;
}
.about-me-text .js-scroll.scrolled.image-container {
  width: 45%;
}
.about-me-text img {
  width: 100%;
  border-radius: 50%;
  box-shadow: -1px -2px 15px 2px #28282B;
}
.about-me-text .image-box {
  border: 3px solid black;
  width: 40%;
  border-radius: 5px;
  position: absolute;
  right: 3px;
  top: 10px;
}
.about-me-text .text-container {
  width: 80%;
  transition: 0.4s ease-in;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
}
.about-me-text .text-container p {
  font-size: 1rem;
  color: #28282B;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  background-color: #ebebeb;
  padding: 50px 0 25px 0;
  position: relative;
  margin-top: -5%;
}
.skills h2 {
  margin-top: 0;
}
.skills h2:after {
  content: "";
  border-bottom: 3px solid rgb(139, 9, 9);
  width: 30%;
  display: inline-block;
  position: absolute;
  left: 56px;
  bottom: -5px;
}

.js-scroll.skills-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  transition: 0.7s ease;
  position: relative;
  top: 85px;
}

.js-scroll.skills-list li {
  padding: 0 20px;
}
.js-scroll.skills-list li span {
  color: rgb(20, 98, 129);
  font-size: 2.5rem;
  position: relative;
}

.js-scroll.scrolled.skills-list {
  top: 0;
}

.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-work {
  padding: 75px 0 145px 0;
  position: relative;
}
.my-work h2 {
  position: relative;
  margin-bottom: 75px;
}
.my-work h2:after {
  content: "hover for details";
  border-top: 3px solid rgb(139, 9, 9);
  width: 73%;
  display: inline-block;
  position: absolute;
  left: 22px;
  bottom: -28px;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 6px;
}

.my-works {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  box-shadow: 0px 16px 15px -9px #28282B;
  border-radius: 22px;
  padding-bottom: 40px;
}

span {
  transition: 0.3s ease-in;
  display: inline-block;
}

/* HIDDEN DIV WITH PROJECTS - styles for each element in the hidden DIV to follow */
.project-details {
  height: 0;
  width: 100%;
  top: 0;
  opacity: 0;
  position: absolute;
  transition: 0.4s ease-out;
  background-color: whitesmoke;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px rgb(20, 98, 129) solid;
  border-radius: 22px;
}

.project-details h3 {
  margin-top: 0;
}

.project-details > * {
  text-align: center;
  margin-bottom: 3px;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.project-details button {
  background-color: rgb(139, 9, 9);
  color: white;
  padding: 8px 6px;
  width: 160px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  font-weight: 300;
}
.project-details button span {
  margin-left: 4px;
}

.my-works li:hover .project-details, .my-works li:focus .project-details {
  height: 100%;
  opacity: 0.99;
}

/* Hover and focus on learn more button */
.project-details button:hover, .project-details button:focus {
  width: 165px;
  box-shadow: -7px 13px 18px -4px #000000;
}

.project-details button:hover span, .project-details button:focus span {
  transform: rotate(-90deg);
}

/* SWEET ALERT STYLES for each window "pop-up"////////////////////// */
.alert-text {
  text-align: left;
  margin-bottom: -10px;
  font-size: 1rem;
  z-index: 100;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.devicon-github-original.colored, .devicon-github-original-wordmark.colored, .devicon-github-plain.colored {
  color: rgb(20, 98, 129);
  font-size: 2rem;
  transition: 0.3s ease-out;
}
.devicon-github-original.colored:hover, .devicon-github-original-wordmark.colored:hover, .devicon-github-plain.colored:hover {
  font-size: 2.2rem;
}
.devicon-github-original.colored:focus, .devicon-github-original-wordmark.colored:focus, .devicon-github-plain.colored:focus {
  font-size: 2.2rem;
}

.live-link {
  background-color: rgb(139, 9, 9);
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
  margin-left: 3%;
  font-size: 1rem;
  transition: 0.3s ease-out;
}

.live-link:focus, .live-link:hover {
  font-size: 1.2rem;
}

.swal2-html-container {
  border-top: 3px dotted black;
  padding: 0;
}

.js-scroll.project-one, .js-scroll.project-three {
  transition: 1s ease-in-out;
  width: 40%;
  position: relative;
  left: -9999px;
  padding: 5px 0px;
}
.js-scroll.project-one img, .js-scroll.project-three img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 22px;
  width: 100%;
}

.js-scroll.project-two, .js-scroll.project-four {
  transition: 0.8s ease-in-out;
  width: 40%;
  right: -9999px;
  position: relative;
  padding: 5px 0px;
}
.js-scroll.project-two img, .js-scroll.project-four img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 22px;
  width: 100%;
}

.js-scroll.scrolled.project-one, .js-scroll.scrolled.project-three {
  left: 0;
}

.js-scroll.scrolled.project-two, .js-scroll.scrolled.project-four {
  right: 0;
}

.project-one-image, .project-two-image, .project-three-image, .project-four-image {
  width: 100%;
}

.contact {
  background-color: #ebebeb;
  padding: 70px 0;
  position: relative;
}

.contact:before {
  content: "";
  background-color: #ebebeb;
  background-image: url("../assets/wave-3.svg");
  position: absolute;
  height: 3rem;
  left: 0;
  right: 0;
  background-position: top center;
  background-size: 14058px 60px;
  background-repeat: repeat-x;
  top: -60px;
}

.contact-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-info label {
  visibility: hidden;
  position: absolute;
}
.contact-info h2 {
  position: relative;
}
.contact-info h2:after {
  content: "";
  border-bottom: 3px solid rgb(139, 9, 9);
  width: 40%;
  display: inline-block;
  position: absolute;
  left: 59px;
  bottom: -5px;
}
.contact-info form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-info form input, .contact-info form textarea {
  outline: none;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: #28282B solid 2px;
}
.contact-info form input[type=text], .contact-info form input[type=email] {
  width: calc(50% - 10px);
}
.contact-info form textarea {
  width: 100%;
  height: 150px;
  margin-top: 15px;
}
.contact-info form ::-moz-placeholder {
  font-size: 0.9rem;
  font-style: italic;
  color: #28282B;
}
.contact-info form :-ms-input-placeholder {
  font-size: 0.9rem;
  font-style: italic;
  color: #28282B;
}
.contact-info form ::placeholder {
  font-size: 0.9rem;
  font-style: italic;
  color: #28282B;
}
.contact-info form button {
  width: 100px;
  padding: 7px 25px;
  margin-top: 10px;
  background-color: rgb(95, 5, 5);
  border: none;
  text-align: center;
  border-radius: 5px;
  margin: 20px 0 0 auto;
  color: white;
  transition: 0.3s ease-in-out;
  display: inline-block;
}
.contact-info form button:hover, .contact-info form button:focus {
  box-shadow: -7px 13px 18px -4px #000000;
  width: 17% l;
}
.contact-info form span {
  display: inline-block;
  transition: 0.3s ease-out;
  position: relative;
  left: 0;
}
.contact-info form button:hover span {
  left: 10px;
}
.contact-info .contact-text {
  width: 50%;
}
.contact-info .contact-text p {
  font-size: 1.1rem;
  margin-top: 0;
}

footer {
  background-color: #28282B;
  text-align: center;
  color: #28282B;
  padding: 25px 0;
}
footer p {
  margin: 0 auto;
  padding: 10px 0;
  color: white;
  font-size: 0.9rem;
}
footer .footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footer-content .social-contact {
  display: flex;
}
footer .footer-content span {
  display: inline-block;
  font-size: 1.5rem;
  color: rgb(20, 98, 129);
  margin: 0 6px;
}
footer .footer-content span:hover, footer .footer-content span:focus {
  font-size: 2rem;
}

@media only screen and (max-width: 1136px) {
  .about-me-text {
    width: 100%;
  }
}
@media only screen and (max-width: 987px) {
  .about-me-text .text-container {
    width: 82%;
  }
  .about-me-text .js-scroll.scrolled.image-container {
    width: 45%;
    margin-left: 0;
  }

  .js-scroll.soft-skills {
    width: 45%;
    margin-right: 0;
  }

  .my-works {
    width: 100%;
  }

  .js-scroll.project-one, .js-scroll.project-three, .js-scroll.project-two, .js-scroll.project-four {
    width: 45%;
  }

  .project-details {
    padding: 0 10px;
  }

  .contact-info .contact-text, .contact-info form {
    width: 60%;
  }
}
@media only screen and (max-width: 767px) {
  .about-me-text .text-container {
    width: 100%;
  }

  .soft-photo {
    width: 100%;
  }

  .js-scroll.skills-list li {
    padding: 10px 22px;
  }
  .js-scroll.skills-list li span {
    font-size: 4rem;
  }

  .contact-info .contact-text, .contact-info form {
    width: 75%;
  }
}
@media only screen and (max-width: 661px) {
  .wrapper {
    width: 95%;
  }

  .soft-photo {
    flex-direction: column-reverse;
  }

  .about-me-text .text-container {
    width: 100%;
  }
  .about-me-text .js-scroll.scrolled.image-container {
    width: 100%;
  }

  .js-scroll.soft-skills {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }

  .soft-skills {
    width: 110%;
  }

  .soft-skills li {
    flex-direction: column;
    width: 33%;
  }
  .soft-skills li p {
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
    margin: 12px 0 0 0;
  }
  .soft-skills li span {
    text-align: center;
    font-size: 2.5rem;
  }

  .js-scroll.skills-list {
    margin-top: 25px;
  }

  .js-scroll.skills-list li {
    padding: 10px 10px;
  }
  .js-scroll.skills-list li span {
    font-size: 4.5rem;
  }

  .my-works {
    flex-direction: column;
    align-items: center;
  }

  .js-scroll.project-one, .js-scroll.project-three, .js-scroll.project-two, .js-scroll.project-four {
    width: 75%;
  }

  .contact-info .contact-text, .contact-info form {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */